html {
    display: block;
  }
  html, body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    line-height: 1.5;
    font-family: Arial, sans-serif;
  }
  #navbar {
    position: fixed;
    min-width: 290;
    top: 0;
    left: 0;
    width: 300px;
    height:100%;
    border-right: solid;
    border-color: rgb(0, 22, 22, 0.4);
  }
  nav {
    display: block;
  }
  body {
    display: block;
    margin: 8px;
  }
  #navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    margin: 0;
    border: 2px solid rgb(204, 178, 178);
  }
  ul {
    display: block;
    list-style-type: disc;
      -webkit-margin-before: 1em;
              margin-block-start: 1em;
      -webkit-margin-after: 1em;
              margin-block-end: 1em;
      -webkit-margin-start: 0px;
              margin-inline-start: 0px;
      -webkit-margin-end: 0px;
              margin-inline-end: 0px;
      -webkit-padding-start: 40px;
              padding-inline-start: 40px;
  }
  header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    display: block;
  }
  
  #navbar li {
    color: #51535c;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
    padding: 0;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  #main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }
  section {
    display: block;
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
  }
  code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-family: monospace;
  }
  @media (max-width: 768px) {
    body {
      width: 358px;
    }
  
    main {
      width: 318px;
    }
  
    body {
      width: 150px;
    }
  }
  #navbar a {
    color: #4d4e53;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
  }